<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Заём</title>
    <link type="image/x-icon" href="/static/img/favicon.ico" rel="shortcut icon">
    <link rel="stylesheet" href="/static/css/style.css">
</head>

<body>
<nav th:replace="~{frag :: nav}"></nav>

<main>
    <div class="row framed w100">
        <div class="column">
            <strong class="align-left">Информация о займе</strong>
            <div class="row framed">
                <div>
                    <strong>Клиент</strong>
                    <div th:text="${loan.getClientId()}"></div>
                </div>
                <div>
                    <strong>Имущество</strong>
                    <div th:text="${loan.getPropertyId()}"></div>
                </div>
                <div>
                    <strong>Открыт</strong>
                    <div th:text="${#dates.format(loan.getOpen(), 'dd.MM.yyyy')}"></div>
                </div>
                <div>
                    <strong>Закрыт</strong>
                    <div th:text="${#dates.format(loan.getClose(), 'dd.MM.yyyy')}"></div>
                </div>
                <div>
                    <strong>Статус</strong>
                    <div th:text="${loan.getStatus()}"></div>
                </div>
            </div>
        </div>
    </div>
</main>
<script src="/static/js/script.js"></script>
</body>
</html>